<a href="https://colab.research.google.com/github/junsookim76/Ewha_2025/blob/main/1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

> 참고문헌: 점프 투 파이썬
> https://wikidocs.net/book/1
>
>> 1. 자료형
>> 2. 리스트 다루기
>> 3. IF 조건문
>> 4. LOOP 반복문
>> 5. Input & Output
>> 6. Function

# **1. 자료형**
정수/실수/문자열/리스트/튜플/딕셔너리/참거짓(boolean)

In [ ]:
# 정수
a=31
b=24
c=a+b

print(a,"+",b,"=",c)
print(a,"*",b,"=",a*b)
print(a,"/",b,"=",a//b,"*",b,"+",a%b)

31 + 24 = 55
31 * 24 = 744
31 / 24 = 1 * 24 + 7

In [ ]:
# 실수
d=1.7
e=2.0
f=3E2
g=d*e
h=d/f

print(d,"*",e,"=",g)
print(d,"/",f,"=",h)

1.7 * 2.0 = 3.4
1.7 / 300.0 = 0.005666666666666666

In [ ]:
# 문자열
t1="this"
t2="that"

print(t1,"is",t2)
print(type(t1))
print("Length of a Text = ",len(t1))

this is that
<class 'str'>
Length of a Text =  4

In [ ]:
# 리스트
a=[1,2,3,4,5,6,"END"]

print(a)
print(type(a))
print("Length of List = ",len(a))

a[0]=3
print(a)

[1, 2, 3, 4, 5, 6, 'END']
<class 'list'>
Length of List =  7
[3, 2, 3, 4, 5, 6, 'END']

In [ ]:
# 튜플: 리스트와 다르게 요소값을 변경할 수 없음
b=(1,2,3,4,5,6,"END")

print(b)
print(type(b))
print("Length of Tuple = ",len(b))

b[0]=3
print(b)

(1, 2, 3, 4, 5, 6, 'END')
<class 'tuple'>
Length of Tuple =  7

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 딕셔너리
a={1:"Jan",2:"Feb",3:"Mar"}

print(a)
print(a[1])
print(type(a))

print(a.keys())
print(a.values())

a[10]="Oct"
print("Updated to ",a)

print(a[0])

{1: 'Jan', 2: 'Feb', 3: 'Mar'}
Jan
<class 'dict'>
dict_keys([1, 2, 3])
dict_values(['Jan', 'Feb', 'Mar'])
Updated to  {1: 'Jan', 2: 'Feb', 3: 'Mar', 10: 'Oct'}

KeyError: 0

In [ ]:
# 참거짓 (boolean)
a=True
b=False

print(a,b)
print(type(a))

if a:
  print("a is true")

if not b :
  print("b is not true")

True False
<class 'bool'>
a is true
b is not true

# **2. 리스트 다루기**
인덱싱/스플라이싱/길이 구하기/더하기/반복하기/값 수정/값 삭제/append/insert/remove/sort/reverse/index/pop/count/expand

In [ ]:
# 리스트: 인덱싱, 슬라이싱, 길이 구하기
a=[1,2,3,4,5,6,"END"]

print(a,"\n")

print(a[2],a[3],a[-1])

print(a[:2],a[0:-1])

print(len(a))

[1, 2, 3, 4, 5, 6, 'END']

3 4 END
[1, 2] [1, 2, 3, 4, 5, 6]
7

In [ ]:
# 문자열: 인덱싱과 슬라이싱

print(t1,t2,"\n")

print(t1[1])
print(t1[:2])
print(t1+t2)
print(len(t1+t2))

this that

h
th
thisthat
8

In [ ]:
# 리스트: 더하기와 반복하기
b=[12,14,17]

a3=a*3

print("a:",a)
print("b:",b)
print("a+b:",a+b)
print("3*a:",a3)

a: [1, 2, 3, 4, 5, 6, 'END']
b: [12, 14, 17]
a+b: [1, 2, 3, 4, 5, 6, 'END', 12, 14, 17]
3*a: [1, 2, 3, 4, 5, 6, 'END', 1, 2, 3, 4, 5, 6, 'END', 1, 2, 3, 4, 5, 6, 'END']

In [ ]:
# 리스트: 값 수정 및 삭제
print(a,"\n")

a[0]=7

print(a)

del a[-1]

print(a)

[1, 2, 3, 4, 5, 6, 'END']

[7, 2, 3, 4, 5, 6, 'END']
[7, 2, 3, 4, 5, 6]

In [ ]:
# 리스트: append와 insert

a.append(4)
a.append([1,2])
a.append("END")
print(a)

a.insert(1,17)
print(a)

[7, 2, 3, 4, 5, 6, 4, [1, 2], 'END']
[7, 17, 2, 3, 4, 5, 6, 4, [1, 2], 'END']

In [ ]:
# 리스트: remove와 pop

b=a.copy()
print(b,'\n')

b.remove(4)
print(b)

b1=b.pop(-1)
print(b)
print(b1)

[7, 17, 2, 3, 4, 5, 6, 4, [1, 2], 'END']

[7, 17, 2, 3, 5, 6, 4, [1, 2], 'END']
[7, 17, 2, 3, 5, 6, 4, [1, 2]]
END

In [ ]:
# 리스트: sort와 reverse
a1=[4,1,2,5]
a2=["a","c","b"]

a1.sort()
a2.sort()

print(a1)
print(a2)

print(a)
a.reverse()
print(a)

[1, 2, 4, 5]
['a', 'b', 'c']
[7, 17, 2, 3, 4, 5, 6, 4, [1, 2], 'END']
['END', [1, 2], 4, 6, 5, 4, 3, 2, 17, 7]

In [ ]:
# 리스트: index와 count

a1=a.index(17)
a2=a.index('END')

print(a1,a2)

a.count(4)
# a.count(2)

8 0

2

# **3. IF**

In [ ]:
# 참거짓 (boolean)
a0=True
b0=False

print(a0,b0)
print(type(a0))

if a0:
  print("a0 is true")

if not b0 :
  print("b0 is not true")

True False
<class 'bool'>
a0 is true
b0 is not true

In [ ]:
if b0:
  print("b0 is true")
else:
  print("b0 is not true")

b0 is not true

In [ ]:
a1=17
a2=15
a3=110

if (a1>a2):
  print(a1,"is greater than",a2)
elif (a1==a2):
  print(a1,"is equal to",a2)
else:
  print(a1,"is less than",a2)

if (a1!=a2):
  print(a1,"is NOT equal to",a2)

17 is greater than 15
17 is NOT equal to 15

In [ ]:
if a1>a2 and a1>a3:
  print("a1 is the largest")

if not (a1<a2):
  print("a1 is greater than or equal to a2")

a1 is greater than or equal to a2

In [ ]:
print(a,'\n')

a0=False
b0=False

a0= 6 in a
print(a0)
b0= 9 not in a
print(b0)

['END', [1, 2], 4, 6, 5, 4, 3, 2, 17, 7]

True
True

In [ ]:
# 조건부 표현식

if a1 >=13:
  message=">13"
else:
  message="<=13"

print(message)

message = ">13" if a1>=13 else "<=13"

print(message)

>13
>13

# **4. Loop**

> For
>
> While

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a[2:8:2]:
    print(i)

3
5
7

In [ ]:
for i in range(3,100,10):
    print(i)

3
13
23
33
43
53
63
73
83
93

In [ ]:
for i in range(3,100,10):
    print(i)
    if (i>30):
      break

3
13
23
33

In [ ]:
a=0
while a<5:
    print(a)
    a+=1

0
1
2
3
4

In [ ]:
a=0
while a<10 :
    print(a)
    a+=1
    if(a==7):
        break

0
1
2
3
4
5
6

## Exercise 1. 구구단의 2단과 8단을 출력해 보세요

In [ ]:
for i in range(1,10):
    for j in [2,8]:
        print(j,"*",i,"=",j*i,end="\t")
    print()

2 * 1 = 2	8 * 1 = 8
2 * 2 = 4	8 * 2 = 16
2 * 3 = 6	8 * 3 = 24
2 * 4 = 8	8 * 4 = 32
2 * 5 = 10	8 * 5 = 40
2 * 6 = 12	8 * 6 = 48
2 * 7 = 14	8 * 7 = 56
2 * 8 = 16	8 * 8 = 64
2 * 9 = 18	8 * 9 = 72

## **5. Input & Output**

In [ ]:
# 파일 쓰기
f=open("text.txt","w")

for i in range(1,10):

    f.write(str(i))
    f.write("\t")
    f.write(str(i*10))
    f.write("\n")

f.close()

In [ ]:
# 파일 읽기
f=open("text.txt","r")

lines = f.readlines()
for line in lines:
    line = line.strip()  # 줄 끝의 줄 바꿈 문자를 제거한다.
    print(line)

f.close()

1	10
2	20
3	30
4	40
5	50
6	60
7	70
8	80
9	90

In [ ]:
# 파일 읽기
f=open("text.txt","r")

data = f.read()
print(data)

f.close()

1	10
2	20
3	30
4	40
5	50
6	60
7	70
8	80
9	90

In [ ]:
# 파일 읽기
with open("text.txt") as f:

    lines=f.readlines()
    for line in lines:
      print(line,end="")

1	10
2	20
3	30
4	40
5	50
6	60
7	70
8	80
9	90

In [17]:
!git clone https://github.com/junsookim76/Ewha_2025.git

fatal: destination path 'Ewha_2025' already exists and is not an empty directory.
#PMF AT_160

7.000000 -36.938805 3.280811

8.000000 -28.163407 2.378133

9.000000 -23.750262 1.942235

10.000000 -25.091581 1.889730

11.000000 -21.729369 1.714696

12.000000 -14.403652 1.498287

13.000000 -10.646618 1.138634

14.000000 -9.847355 0.983767

15.000000 -8.091069 0.601730

16.000000 -3.871611 0.244928

17.000000 0.000000 0.000000

In [21]:
with open("/content/Ewha_2025/data_AT.txt") as f:

  lines=f.readlines()

  for line in lines:
    print(line)

  for line in lines:
    line0=line.split(',')
    print(line0)

#PMF AT_160

7.000000 -36.938805 3.280811

8.000000 -28.163407 2.378133

9.000000 -23.750262 1.942235

10.000000 -25.091581 1.889730

11.000000 -21.729369 1.714696

12.000000 -14.403652 1.498287

13.000000 -10.646618 1.138634

14.000000 -9.847355 0.983767

15.000000 -8.091069 0.601730

16.000000 -3.871611 0.244928

17.000000 0.000000 0.000000

['#PMF AT_160\n']
['7.000000 -36.938805 3.280811\n']
['8.000000 -28.163407 2.378133\n']
['9.000000 -23.750262 1.942235\n']
['10.000000 -25.091581 1.889730\n']
['11.000000 -21.729369 1.714696\n']
['12.000000 -14.403652 1.498287\n']
['13.000000 -10.646618 1.138634\n']
['14.000000 -9.847355 0.983767\n']
['15.000000 -8.091069 0.601730\n']
['16.000000 -3.871611 0.244928\n']
['17.000000 0.000000 0.000000\n']

## Exercise 2. GitHub에서 주기율표를 찾아 모든 원소의 이름, 심볼, 원자량을 출력하시오

In [22]:
# GitHub에 있는 파일 불러오기

!git clone https://gist.github.com/c2dd862cd38f21b0ad36b8f96b4bf1ee.git

fatal: destination path 'c2dd862cd38f21b0ad36b8f96b4bf1ee' already exists and is not an empty directory.

In [23]:
with open("/content/c2dd862cd38f21b0ad36b8f96b4bf1ee/Periodic Table of Elements.csv") as element:

  lines=element.readlines()

  for line in lines:
    line0=line.split(',')
    print(line0[1],'\t',line0[2],'\t',line0[3])

Element 	 Symbol 	 AtomicMass
Hydrogen 	 H 	 1.007
Helium 	 He 	 4.002
Lithium 	 Li 	 6.941
Beryllium 	 Be 	 9.012
Boron 	 B 	 10.811
Carbon 	 C 	 12.011
Nitrogen 	 N 	 14.007
Oxygen 	 O 	 15.999
Fluorine 	 F 	 18.998
Neon 	 Ne 	 20.18
Sodium 	 Na 	 22.99
Magnesium 	 Mg 	 24.305
Aluminum 	 Al 	 26.982
Silicon 	 Si 	 28.086
Phosphorus 	 P 	 30.974
Sulfur 	 S 	 32.065
Chlorine 	 Cl 	 35.453
Argon 	 Ar 	 39.948
Potassium 	 K 	 39.098
Calcium 	 Ca 	 40.078
Scandium 	 Sc 	 44.956
Titanium 	 Ti 	 47.867
Vanadium 	 V 	 50.942
Chromium 	 Cr 	 51.996
Manganese 	 Mn 	 54.938
Iron 	 Fe 	 55.845
Cobalt 	 Co 	 58.933
Nickel 	 Ni 	 58.693
Copper 	 Cu 	 63.546
Zinc 	 Zn 	 65.38
Gallium 	 Ga 	 69.723
Germanium 	 Ge 	 72.64
Arsenic 	 As 	 74.922
Selenium 	 Se 	 78.96
Bromine 	 Br 	 79.904
Krypton 	 Kr 	 83.798
Rubidium 	 Rb 	 85.468
Strontium 	 Sr 	 87.62
Yttrium 	 Y 	 88.906
Zirconium 	 Zr 	 91.224
Niobium 	 Nb 	 92.906
Molybdenum 	 Mo 	 95.96
Technetium 	 Tc 	 98
Ruthenium 	 Ru 	 101.07
Rhodium 	 Rh 	 102.906
Palladium 	 Pd 	 106.42
Silver 	 Ag 	 107.868
Cadmium 	 Cd 	 112.411
Indium 	 In 	 114.818
Tin 	 Sn 	 118.71
Antimony 	 Sb 	 121.76
Tellurium 	 Te 	 127.6
Iodine 	 I 	 126.904
Xenon 	 Xe 	 131.293
Cesium 	 Cs 	 132.905
Barium 	 Ba 	 137.327
Lanthanum 	 La 	 138.905
Cerium 	 Ce 	 140.116
Praseodymium 	 Pr 	 140.908
Neodymium 	 Nd 	 144.242
Promethium 	 Pm 	 145
Samarium 	 Sm 	 150.36
Europium 	 Eu 	 151.964
Gadolinium 	 Gd 	 157.25
Terbium 	 Tb 	 158.925
Dysprosium 	 Dy 	 162.5
Holmium 	 Ho 	 164.93
Erbium 	 Er 	 167.259
Thulium 	 Tm 	 168.934
Ytterbium 	 Yb 	 173.054
Lutetium 	 Lu 	 174.967
Hafnium 	 Hf 	 178.49
Tantalum 	 Ta 	 180.948
Wolfram 	 W 	 183.84
Rhenium 	 Re 	 186.207
Osmium 	 Os 	 190.23
Iridium 	 Ir 	 192.217
Platinum 	 Pt 	 195.084
Gold 	 Au 	 196.967
Mercury 	 Hg 	 200.59
Thallium 	 Tl 	 204.383
Lead 	 Pb 	 207.2
Bismuth 	 Bi 	 208.98
Polonium 	 Po 	 210
Astatine 	 At 	 210
Radon 	 Rn 	 222
Francium 	 Fr 	 223
Radium 	 Ra 	 226
Actinium 	 Ac 	 227
Thorium 	 Th 	 232.038
Protactinium 	 Pa 	 231.036
Uranium 	 U 	 238.029
Neptunium 	 Np 	 237
Plutonium 	 Pu 	 244
Americium 	 Am 	 243
Curium 	 Cm 	 247
Berkelium 	 Bk 	 247
Californium 	 Cf 	 251
Einsteinium 	 Es 	 252
Fermium 	 Fm 	 257
Mendelevium 	 Md 	 258
Nobelium 	 No 	 259
Lawrencium 	 Lr 	 262
Rutherfordium 	 Rf 	 261
Dubnium 	 Db 	 262
Seaborgium 	 Sg 	 266
Bohrium 	 Bh 	 264
Hassium 	 Hs 	 267
Meitnerium 	 Mt 	 268
Darmstadtium  	 Ds  	 271
Roentgenium  	 Rg  	 272
Copernicium  	 Cn  	 285
Nihonium 	 Nh 	 284
Flerovium 	 Fl 	 289
Moscovium 	 Mc 	 288
Livermorium 	 Lv 	 292
Tennessine 	 Ts 	 295
Oganesson 	 Og 	 294

## **6. Function**

In [ ]:
def add(a,b):
    return a+b

a=1
b=2

print(a,"+",b,"=",add(a,b))

1 + 2 = 3

In [ ]:
def add2(a,b):
    print(a,"+",b,"=",a+b)
    return None

add2(1,2)

1 + 2 = 3

In [ ]:
def multi(a,b):
    return a*b

for i in range(1,10):
  print(3,"*",i,"=",multi(3,i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27