<a href="https://colab.research.google.com/github/junsookim76/Ewha_2025/blob/main/1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

> 참고문헌: 점프 투 파이썬
> https://wikidocs.net/book/1

# **1. 자료형**
정수/실수/문자열/리스트/튜플/딕셔너리/참거짓(boolean)

In [11]:
# 정수
a=31
b=24
c=a+b

print(a,"+",b,"=",c)
print(a,"*",b,"=",a*b)
print(a,"/",b,"=",a//b,"*",b,"+",a%b)

31 + 24 = 55
31 * 24 = 744
31 / 24 = 1 * 24 + 7

In [12]:
# 실수
d=1.7
e=2.0
f=3E2
g=d*e
h=d/f

print(d,"*",e,"=",g)
print(d,"/",f,"=",h)

1.7 * 2.0 = 3.4
1.7 / 300.0 = 0.005666666666666666

In [52]:
# 문자열
t1="this"
t2="that"

print(t1,"is",t2)
print(type(t1))
print("Length of a Text = ",len(t1))

this is that
<class 'str'>
Length of a Text =  4

In [50]:
# 리스트
a=[1,2,3,4,5,6,"END"]

print(a)
print(type(a))
print("Length of List = ",len(a))

a[0]=3
print(a)

[1, 2, 3, 4, 5, 6, 'END']
<class 'list'>
Length of List =  7
[3, 2, 3, 4, 5, 6, 'END']

In [51]:
# 튜플: 리스트와 다르게 요소값을 변경할 수 없음
b=(1,2,3,4,5,6,"END")

print(b)
print(type(b))
print("Length of Tuple = ",len(b))

b[0]=3
print(b)

(1, 2, 3, 4, 5, 6, 'END')
<class 'tuple'>
Length of Tuple =  7

TypeError: 'tuple' object does not support item assignment

In [117]:
# 딕셔너리
a={1:"Jan",2:"Feb",3:"Mar"}

print(a)
print(a[1])
print(type(a))

print(a.keys())
print(a.values())

a[10]="Oct"
print("Updated to ",a)

print(a[0])

{1: 'Jan', 2: 'Feb', 3: 'Mar'}
Jan
<class 'dict'>
dict_keys([1, 2, 3])
dict_values(['Jan', 'Feb', 'Mar'])
Updated to  {1: 'Jan', 2: 'Feb', 3: 'Mar', 10: 'Oct'}

KeyError: 0

In [47]:
# 참거짓 (boolean)
a=True
b=False

print(a,b)
print(type(a))

if a:
  print("a is true")

if not b :
  print("b is not true")

True False
<class 'bool'>
a is true
b is not true

# **2. 리스트 다루기**
인덱싱/스플라이싱/길이 구하기/더하기/반복하기/값 수정/값 삭제/append/insert/remove/sort/reverse/index/pop/count/expand

In [202]:
# 리스트: 인덱싱, 슬라이싱, 길이 구하기
a=[1,2,3,4,5,6,"END"]

print(a,"\n")

print(a[2],a[3],a[-1])

print(a[:2],a[0:-1])

print(len(a))

[1, 2, 3, 4, 5, 6, 'END']

3 4 END
[1, 2] [1, 2, 3, 4, 5, 6]
7

In [203]:
# 문자열: 인덱싱과 슬라이싱

print(t1,t2,"\n")

print(t1[1])
print(t1[:2])
print(t1+t2)
print(len(t1+t2))

this that

h
th
thisthat
8

In [204]:
# 리스트: 더하기와 반복하기
b=[12,14,17]

a3=a*3

print("a:",a)
print("b:",b)
print("a+b:",a+b)
print("3*a:",a3)

a: [1, 2, 3, 4, 5, 6, 'END']
b: [12, 14, 17]
a+b: [1, 2, 3, 4, 5, 6, 'END', 12, 14, 17]
3*a: [1, 2, 3, 4, 5, 6, 'END', 1, 2, 3, 4, 5, 6, 'END', 1, 2, 3, 4, 5, 6, 'END']

In [205]:
# 리스트: 값 수정 및 삭제
print(a,"\n")

a[0]=7

print(a)

del a[-1]

print(a)

[1, 2, 3, 4, 5, 6, 'END']

[7, 2, 3, 4, 5, 6, 'END']
[7, 2, 3, 4, 5, 6]

In [206]:
# 리스트: append와 insert

a.append(4)
a.append([1,2])
a.append("END")
print(a)

a.insert(1,17)
print(a)

[7, 2, 3, 4, 5, 6, 4, [1, 2], 'END']
[7, 17, 2, 3, 4, 5, 6, 4, [1, 2], 'END']

In [207]:
# 리스트: remove와 pop

b=a.copy()
print(b,'\n')

b.remove(4)
print(b)

b1=b.pop(-1)
print(b)
print(b1)

[7, 17, 2, 3, 4, 5, 6, 4, [1, 2], 'END']

[7, 17, 2, 3, 5, 6, 4, [1, 2], 'END']
[7, 17, 2, 3, 5, 6, 4, [1, 2]]
END

In [208]:
# 리스트: sort와 reverse
a1=[4,1,2,5]
a2=["a","c","b"]

a1.sort()
a2.sort()

print(a1)
print(a2)

print(a)
a.reverse()
print(a)

[1, 2, 4, 5]
['a', 'b', 'c']
[7, 17, 2, 3, 4, 5, 6, 4, [1, 2], 'END']
['END', [1, 2], 4, 6, 5, 4, 3, 2, 17, 7]

In [209]:
# 리스트: index와 count

a1=a.index(17)
a2=a.index('END')

print(a1,a2)

a.count(4)
# a.count(2)

8 0

2

# **3. IF**

In [200]:
# 참거짓 (boolean)
a0=True
b0=False

print(a0,b0)
print(type(a0))

if a0:
  print("a0 is true")

if not b0 :
  print("b0 is not true")

True False
<class 'bool'>
a0 is true
b0 is not true

In [201]:
if b0:
  print("b0 is true")
else:
  print("b0 is not true")

b0 is not true

In [218]:
a1=17
a2=15
a3=110

if (a1>a2):
  print(a1,"is greater than",a2)
elif (a1==a2):
  print(a1,"is equal to",a2)
else:
  print(a1,"is less than",a2)

if (a1!=a2):
  print(a1,"is NOT equal to",a2)

17 is greater than 15
17 is NOT equal to 15

In [219]:
if a1>a2 and a1>a3:
  print("a1 is the largest")

if not (a1<a2):
  print("a1 is greater than or equal to a2")

a1 is greater than or equal to a2

In [220]:
print(a,'\n')

a0=False
b0=False

a0= 6 in a
print(a0)
b0= 9 not in a
print(b0)

['END', [1, 2], 4, 6, 5, 4, 3, 2, 17, 7]

True
True

In [222]:
# 조건부 표현식

if a1 >=13:
  message=">13"
else:
  message="<=13"

print(message)

message = ">13" if a1>=13 else "<=13"

print(message)

>13
>13

# **4. Loop**

> For
>
> While

In [223]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [224]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [225]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in a[2:8:2]:
    print(i)

3
5
7

In [ ]:
for i in range(3,100,10):
    print(i)

3
13
23
33
43
53
63
73
83
93

In [226]:
for i in range(3,100,10):
    print(i)
    if (i>30):
      break

3
13
23
33

In [227]:
a=0
while a<5:
    print(a)
    a+=1

0
1
2
3
4

In [228]:
a=0
while a<10 :
    print(a)
    a+=1
    if(a==7):
        break

0
1
2
3
4
5
6

## Quiz 1. 구구단의 2단과 8단을 출력해 보세요

In [229]:
for i in range(1,10):
    for j in [2,8]:
        print(j,"*",i,"=",j*i,end="\t")
    print()

2 * 1 = 2	8 * 1 = 8
2 * 2 = 4	8 * 2 = 16
2 * 3 = 6	8 * 3 = 24
2 * 4 = 8	8 * 4 = 32
2 * 5 = 10	8 * 5 = 40
2 * 6 = 12	8 * 6 = 48
2 * 7 = 14	8 * 7 = 56
2 * 8 = 16	8 * 8 = 64
2 * 9 = 18	8 * 9 = 72

## **5. Input & Output**

In [268]:
# 파일 쓰기
f=open("text.txt","w")

for i in range(1,10):

    f.write(str(i))
    f.write("\t")
    f.write(str(i*10))
    f.write("\n")

f.close()

In [264]:
# 파일 읽기
f=open("text.txt","r")

lines = f.readlines()
for line in lines:
    line = line.strip()  # 줄 끝의 줄 바꿈 문자를 제거한다.
    print(line)

f.close()

1	10
2	20
3	30
4	40
5	50
6	60
7	70
8	80
9	90

In [267]:
# 파일 읽기
f=open("text.txt","r")

data = f.read()
print(data)

f.close()

1	10
2	20
3	30
4	40
5	50
6	60
7	70
8	80
9	90

In [289]:
# 파일 읽기
with open("text.txt") as f:

    lines=f.readlines()
    for line in lines:
      print(line,end="")

1	10
2	20
3	30
4	40
5	50
6	60
7	70
8	80
9	90

## **6. Function**

In [299]:
def add(a,b):
    return a+b

a=1
b=2

print(a,"+",b,"=",add(a,b))

1 + 2 = 3

In [298]:
def add2(a,b):
    print(a,"+",b,"=",a+b)
    return None

add2(1,2)

1 + 2 = 3

In [302]:
def multi(a,b):
    return a*b

for i in range(1,10):
  print(3,"*",i,"=",multi(3,i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27